nginx/conf/*
!nginx/conf/default.conf
!nginx/conf/example.conf.template
nginx/devcerts/*
!nginx/devcerts/.gitkeep
nginx/logs/*
!nginx/logs/.gitkeep

mysql-data/*
!mysql-data/.gitkeep

php-project/*
vue-project/*
!php-project/index.php
!vue-project/.gitkeep
