nginx/conf/*
!nginx/conf/default.conf
!nginx/conf/example.conf.template
nginx/devcerts/*
!nginx/devcerts/.gitkeep
nginx/logs/*
!nginx/logs/.gitkeep

mysql-data/*
!mysql-data/.gitkeep

www/*
!www/index.php
